<div style="height: 400px;">
	<div class='circular-selector'>
	  <ul>
	    <li style="transform: rotate(0deg);">
	      <label for='c1' style="transform: rotate(0deg);">Menu 1</label>
	    </li>
	    
	    <li style="transform: rotate(90deg);">
	      <label for='c2'>Menu 2</label>
	    </li>

	    <li style="transform: rotate(180deg);">
	      <label for='c3'>Menu 3</label>
	    </li>

	    <li style="transform: rotate(270deg);">
	      <label for='c3'>Menu 3</label>
	    </li>
	    
	  </ul>
	  <button>Click to toggle the menus</button>
	</div>
</div>