<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <h2>Topics</h2>
    </div>
  </div>
</div>
<hr/>

<% @topics.all.each do |topic| %>
  <%= link_to "#{topic.name}", root_path %><br/>
<% end %>
