<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <h2>Topics</h2>
    </div>
  </div>
</div>
<hr/>

<% @topics.all.each do |topic| %>
  <%= link_to topics_survey_path(topic) do %>
    <%= image_tag topic.photo.url(:preview) %>
  <% end %>
  
  <%= link_to "#{topic.name}", topics_survey_path(topic) %>
  <br/>
  <br/>
<% end %>
