<br/>
<p class="line-chart-title">Number of Gleams Casted Year to Date</p>
<br/>
<div class="line-chart" data-categories = "<%= chart.keys.join(", ") %>" data-records = "<%= chart.values.join(", ") %>">

</div>
<br/>
