<tr class="section_rows">

  <td>
    <%= f.text_field :answer, class: "form-control answer_fields" %>
    <%= link_to_remove_tr_field "Remove Answer", "btn btn-danger btn-xs remove_answer", f %>
  </td>

</tr>
