<%= content_for :banner do %>
  <%= image_tag "banner/vote.png", :class=>'page_banner' %>
<% end %>

<div class="container">
  <h2 class="theme-font">Cast your gleam</h2>
  <br/>
  <br/>
  <% @survey_questions.each do |survey_question| %>

    <div id="survey_question_<%= survey_question.id %>">
      <%= render partial: "survey_question", locals: {:survey_question => survey_question} %>
    </div>

  <% end %>
</div>
