.width-80-percent{
  width: 80% !important;
}
.width-50-percent{
  width: 50% !important;
}
.width-55-percent{
  width: 55%;
}
.width-95-per{
  width: 95%;
}
.width-62-per{
  width: 62%;
}
.width-72-percent{
  width: 72% !important;
}
.width-60-percent{
  width: 60% !important;
}
.width-90-percent{
  width: 90% !important;
}
.left-0{
  left: 0 !important;
}
.padding-left-40-percent{
  padding-left: 40%;
}
.border-top-none{
  border-top: none !important;
}
.padding-5{
  padding: 5px;
}
.padding-top-5{
  padding-top: 5px !important;
}
.margin-right-0{
  margin-right: 0px !important;
}
.width-120{
  width: 120px !important;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-bottom-0{
  padding-bottom: 0px !important;
}
.padding-left-10{
  padding-left: 10px !important;
}
.file-field-show-disable{
  position: absolute;
  opacity: 0;
}
.upload-box {
	width: 150px;
	height: 150px;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	background: #eee;
	float: left; /*Temp CSS*/
	margin-right: 10px; /*Temp CSS*/
}
.upload-box input {
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 110%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}
.upload-box .icn-upload {
	position: absolute;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 100%;
	background: #4794fc;
	color: #fff;
	left: 0;
	right: 0;
	margin: -15px auto 0px;
	padding-top: 7px;
	top: 50%;
}
.upload-box img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	display: none;
}
.upload-box .icn-remove {
	position: absolute;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 100%;
	background: #d9534f;
	color: #fff;
	left: 116;
	right: 0;
	margin: -15px auto 0px;
	padding-top: 5px;
	top: 11%;
	display: none;
	cursor: pointer;
}
.upload-box.file-uploaded input,
.upload-box.file-uploaded .icn-upload {
	display: none;
}
.upload-box:hover.file-uploaded input,
.upload-box:hover.file-uploaded .icn-upload {
	display: block;
}
.upload-box.file-uploaded img,
.upload-box.file-uploaded .icn-remove {
	display: block;
}
.set-cursor-pointer{
  cursor: pointer;
}
.font-weight-500{
  font-weight: 500 !important;
}
.font-color-head{
  color: #ED8742;
}
.font-color-grey{
  color: #ccc;
}
.background-color{
  color: #fff;
  background: #ED8742 !important;
  border: 1px solid #ccc;
}
.width-30-percent{
  width: 30%;
}
.margin-0{
  margin: 0 !important;
}
.theme-font a:hover {
    background: transparent none repeat scroll 0 0;
    color: #121212 !important;
    text-decoration: none;
}
.error{
  color:red;
  font-weight: 300 !important;
}
.padding-left-0{
  padding-left: 0px !important;
}

.padding-right-0{
  padding-right: 0px !important;
}

.theme-font{
  color: #ED8742;
}

.white-font{
  color: white !important;
}

.bold-font{
  font-weight: bold !important;
}

.btn-theme, .btn-theme:hover{
  background: #ED8742;
  color: white;
}

.company-logo{
  max-width: 200px;
  padding: 10px;
}

.navbar-default {
  background: white;
}

.body-content {
  padding-top: 60px;
}

.modal-backdrop {
  opacity: 0.8 !important;
  background: #000;
}

.hideBlock {
  display:none;
}

@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #ED8742;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none !important;
}

.page_banner{
  max-width: 100%;
}

.footer-light{
  margin-top: 150px;
  .heading-footer{
    h4{
      border-bottom: 2px solid #ED8742 !important;
    }
  }
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
    margin: 0 0 -2px 0;
    padding-bottom: 15px;
    display: inline-block;
    border-bottom: 2px solid #ED8742 !important;
}

.navbar.navbar-main ul.nav li:hover > a {
  color: #ED8742 !important;
}

// login
.login-modal {
  .modal-header {
    background: white !important;
    border-bottom: none;
    .close{
      color: black;
    }
  }

  .modal-footer {
    .btn {
      width: 100%;
    }
  }

  .sign-up-content {
    width: 80%;
    display: block;
    margin: auto;
  }

  .orange-login-link {
    border-radius: 3px;
    border: 1px solid #ED8742;
    color: #ED8742;
    padding: 6px 30px;
  }
}


.facebook_login, .facebook_login:hover {
  background-color: #3b5998;
  color: white !important;
}

.email_login, .email_login:hover {
  background-color: #ED8742;
  color: white !important;
  border: none;
}

.social-button {
  width: 100%;
  padding: 15px;
  display: block;
  font-size: 17px;
  line-height: 28px;
  cursor: pointer;

  .fa {
    padding-left: 10px;
    line-height: 0px;
  }

  .social-button-text {
    text-align: center;
  }
}

.image-hover-1:hover .mask {
	opacity: 0.8 !important;
	background-color: #ED8742 !important;

  .image-icons{
    color: #ED8742 !important;
  }
}

.or_line {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  span {
    font-size: 20px;
    background-color: white;
    padding: 0 10px;
    color: #121212;
  }
}


// header login links
.topbar-list li a:hover {
  color: #ED8742 !important;
}

.login-btn{
  height: 42px;
}

// scrolltip
.footer-scrolltop-holder:hover {
  background: #ED8742 !important;
}

.footer {
  background: #ed8742 !important;
  color: white !important;

  .upper-footer{
    .inverse-company-logo {
      width: 100%;
      padding-top: 50px;
    }

    line-height: 150%;
    padding-bottom: 10px;
    .title {
      font-weight: bold;
      font-size: 16px;
    }
    ul{
      list-style: none;
      padding-left: 0;
      a, a:hover {
        text-decoration: none;
        color: white;
      }
    }
  }

  hr {
    margin-top: 10px;
  }

  .lower-footer{
    text-align: center;
    .btn-social-icon {
      padding-right: 40px;
    }
  }
}

.main-nav-bar {
  li {
    font-family: 'Avenir', 'Nunito', Arial, Helvetica, sans-serif !important;
    a {
      color: #121212 !important;
    }
  }

  li.search-form {
    padding-top: 25px !important;

    input[type="text"] {
      border: 1px solid #ED8742;
      margin-right: 0px;
      padding: 3px;
    }

    .gleams-input {
      // width: 60%;
    }
  }
}

.unveil_img{
  display: inline-block;
  max-width:  100%;
  min-width:  32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(image-path('loading.gif'));
}

@media only screen and (max-width : 767px) {
  .upper-footer {
    text-align: center;
  }
}
// for header container
.width-53-percent{
  width: 53%;
}
.width-95-per{
  width: 95%;
}
.width-62-per{
  width: 62%;
}
// for header container
