// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.theme-content {
  body {
    font-family: 'Avenir', 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #121212;
    Line-height: 150%;
  }

  h1, h2, h3 {
    font-family: 'Avenir', 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 100;
  }

}