<% if @error.present? %>
 $("#register_error_message").html("")
 $("#register_error_message").text("<%= @error.html_safe %>")
 $("#register_error_message").show()
<% else %>
 $('#register_modal').modal('hide')
 $('#sign_up_modal').modal('hide')
 $("body").prepend('<div class="alert alert-success fade in theme-font text-center"><button class="close" data-dismiss="alert">x</button>Thanks so much for joining Unigleam. To finish signing up, you just need to confirm that we got your email right</div>');
<% end %>
